.App {
  text-align: center;
  color: white;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: row;
  font-size: 14px;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* Custom scrollbar */
/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: null; 
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #008B7D; 
  border-radius: 8px;
}
/* Handle on hover */
::-webkit-scrollbar:hover{
  width: 10px;
}
.clear-fix{
  background-color: #3D4047;
  min-height: 1px;
  height: 1px;
}
.signin{
  flex: 1;
  text-align: left;
  margin: auto 100px;
}
.signin p{
  white-space: pre-line;
}
.signin h2{
  font-size: 60px;
  font-weight: 400;
}
.signin h1{
  font-size: 72px;
  font-weight: 400;
}
.signin span{
  color: #008B7D;
}
.signin .interaction{
  margin: 12px 0px;
}
.signin .interaction .register{
  cursor: pointer;
  color: rgb(222,222,222);
  background: #008B7D;
  border-radius: 50px;
  padding: 6px 20px;
  margin-right: 20px;
}
.signin .interaction .register:hover{
  color: #232429;
}
.signin .interaction .login{
  cursor: pointer;
  color: #585D61;
  border: 1px solid #585D61;
  border-radius: 50px;
  padding: 6px 20px;
}
.signin .interaction .login:hover{
  color: #008B7D;
  border: 1px solid #008B7D;
}
.signin .loginform{
  float: left;
  width: 60%;
}
.loginform form{
  display: flex;
}
.loginform .private{
  width: 70%;
  background-color: unset;
  border: 1px solid #3D4047;
  border-radius: 50px;
  padding: 6px 1em;
  height: 2em;
}
.loginform .private:focus{
  border: 1px solid #008B7D;
  box-shadow: none!important;
}
.loginform i{
  cursor: pointer;
  padding: 6px 10px;
  height: 44px;
  width: 44px;
  font-size: 28px;
  margin: 0 10px;
  color: #008B7D;
  border: 1px solid #008B7D;
  border-radius: 100%;
}
.loginform i:hover{
  background-color: #008B7D;
  color: white;
}
.left-panel{
  background-color: #232429;
  height: 100vh;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.left-panel .user{
  flex: 3;
  padding: 12px;
}

.useravatar{
  border: 2px solid #585D61;
  height: 74px;
  width: 74px;
  margin: 15px auto;
  border-radius: 100%;
  cursor: pointer;
}
.useravatar img{
  height: 70px;
  width: 70px;
  border-radius: 100%;
  object-fit: cover;
}
.name, .account{
  max-width: 120px;
  width: fit-content;
  margin-left: 0;
  flex-grow: 1;
  flex-basis: auto; /* default value */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.left-panel .user .name{
  margin: 0px auto;
  max-width: 200px;
}
.left-panel .user:hover .name{
  overflow-wrap: break-word;
  white-space: unset;
}
.user .logout {
  text-align: right;
  float: left;
}
.user .logout .fa{
  font-size: 18px;
  margin: 0 6px;
  cursor: pointer;
  transform: rotate(180deg);
}
.user .logout .fa:hover{
 color: #008B7D;
}
.user .useravatar .fa{
  position: absolute;
  top: 70px;
  color: #585D61;
  cursor: pointer;
  font-size: 18px;
}
.user .useravatar{
  cursor: unset;
}
.useravatar .fa-camera{
  display: none;
  left: 120px;
}
.useravatar .fa-check{
  left: 70px;
}
.useravatar .fa-times{
  left: 170px;
}
.useravatar:hover .fa{
  display: unset;
}
.user .useravatar .fa:hover{
  color: #008B7D;
}
.user .name .fa{
  margin: 0 6px;
  cursor: pointer;
  display: none;
}
.user .name .fa:hover{
  color: #008B7D;
}
.user:hover .fa-edit{
  display: unset;
}
.user .submit{
  margin: auto;
}

.user .follow:hover{
  color: #008B7D;
  border: 1px solid #008B7D;
}
.left-panel .userprofile{
  flex: 12;
}
.userprofile .userstat{
  padding: 6px 20px;
  text-align: left;
}
.userprofile .hover{
  width: 100%;
}
.userstat .fa{
  width: 30px;
}
.userstat label{
  margin-left: 6px;
}
.userstat span{
  float: right;
}
.left-panel .search{
  background-color: #2E3339;
  border-radius: 50px;
  margin: 15px;
  height: 2.5em;
}
#searchicon{
  font-size: 18px;
  color: #585D61;
  cursor: pointer;
}
.search form{
  padding: 4px;
  height: 2.5em;
}

.search .searchtext{
  background: #2E3339;
  font-size: 14px;
  width: 75%;
  height: 2em;
  flex: 5 1;
  border: none;
  color: rgb(222,222,222);
  margin: 0;
}
.left-panel .searchtext:focus{
  border-bottom: none !important;
  box-shadow: none!important;
}
.left-panel .homesidebar{
  flex: 12;
  display: flex;
  flex-direction: column;
}
.homesidebar  .content{
  overflow-y: scroll;
}
.item:hover{
  background-color: #2E3339;
}
.userlist .item{
  position: relative;
  min-width: 0;
  display: flex;
  padding: 12px;
}
.userlist .item:hover{
  background-color: #232429;
}
.userlist .useravatar{
  min-width: 74px;
  left: 6px;
  bottom: 6px;
  margin: 0px 12px;
}
.userlist .useravatar:hover{
  border: 2px solid #008B7D;
}
.userlist .avt{
  border-radius: 100%;
  align-items: center;
  min-width: 70px;
  height: 70px;
  width: 70px;
  left: 6px;
  bottom: 6px;
}
.userlist .content{
  min-width: 0;
  width: 100%;
  text-align: left;
  text-overflow: ellipsis;
  position: relative;
  overflow-y: unset;
}
.userlist .name{
  min-width: 0;
  color: white;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.4;
  flex :1;
}

.userlist .followcount{
  min-width: 0;
  overflow: hidden;
  color: #585D61;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.userlist .lastmessage{
  width: 80%;
}
.userlist .follow, .user .follow{
  color: #585D61;
  font-size: 12px;
  border: 1px solid #585D61;
  width: fit-content;
  padding: 2px 12px;
  margin: 4px 0;
  border-radius: 6px;
  cursor: pointer;
}
.user .follow{
  margin: 6px auto;
}
.user  .fa{
  margin-right: 6px;
}
.userlist .followed, .user .followed{
  color: #15161A;
  font-size: 12px;
  border: 1px solid #008B7D;
  background-color: #008B7D;
  width: fit-content;
  padding: 2px 12px;
  margin: 4px 0;
  border-radius: 6px;
  cursor: pointer;
}
.userlist .followed:hover, .user .followed:hover{
  background-color: #585D61;
}
.user .followed{
  margin: 6px auto;
}
.userlist .fa{
  margin-right: 6px;
}
.userlist .follow:hover{
  color: #008B7D;
  border: 1px solid #008B7D;
}
.status{
  position: absolute;
  font-size: 12px;
  right: 0;
}
.status .fa{
  margin-right: 5px;
}

.right-panel{
  height: 100vh;
  flex: 4;
  display: flex;
  flex-direction: column;
}
.top{
  height: 55px;
  background-color: #15161A;
}
.top .navitems{
  display: flex;
  flex-direction: row;
  float: left;
  height: 70%;
  padding: 12px;
  margin: 6px 0;
}
.navitems li a{
  margin: auto 12px;
  cursor: pointer;
  color: #585D61;
}
.navitems .active{
  color: #008B7D; 
}
.navitems li a:hover{
  color: #008B7D;
  text-decoration: none;
}
.top .search{
  float: right;
  width: 40%;
  padding: 8px;
}
.top .search form{
  display: flex;
}
.top .search .searchtext{
  width: 70%;
  background-color: unset;
  border: 1px solid #3D4047;
  border-radius: 50px;
  padding: 0px 1em;
}
.top .search .searchtext:focus{
  border: 1px solid #008B7D;
  box-shadow: none!important;
}
.top #searchicon{
  height: 30px;
  width: 30px;
  margin: 0 10px;
  color: white;
  background-color: #008B7D;
  border: 1px solid #008B7D;
  border-radius: 100%;
}
.main-section{
  flex: 10;
  display: flex;
  flex-direction: row;
}
.mid{
  background-color: #191A1E;
  flex: 3;
  overflow-y: scroll;
}
.newsfeed .item, .upload, .transaction {
  display: flex;
  flex-direction: row;
}
input[type="file" ]{
  opacity: 0;
  position: absolute;
  pointer-events: none;
  width: 1px;
  height: 1px;
}
[contenteditable=true]:empty:before {
   content: attr(placeholder);
    display: block; 
    color: #585D61; 
}
.newsfeed .item:hover{
  background-color:unset;
}
.mid .user{
  padding: 20px 20px;
  flex: 2;
  min-height: 100px;
  text-align: left;
  color: #585D61;
}
.newsfeed span{
  color: rgb(222,222,222);
}
.newsfeed .fa, .upload .fa{
  margin-right: 6px;
}
.mid .useravatar{
  margin: 0 0 6px 0;
  height: 54px;
  width: 54px;
}
.mid .user .avt{
  border-radius: 100%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  margin-bottom: 6px;
}
.newsfeed .user .name{
  color: #008B7D;
  cursor: pointer;
  max-width: 150px;
}
.newsfeed .user .name:hover{
  text-decoration: underline;
}
.newsfeed .user .timeuploaded{
 margin: 10px 0;
}
.mid .content{
  flex: 7;
  padding: 20px 20px 20px 10px;
  text-align: left;
}

.newsfeed .photo, .upload .photo{
  cursor: pointer;
  flex: 0 0 auto;
  max-width: 100%;
  max-height: 100%;
  align-self: center;
  -webkit-align-self: center;
  margin: 20px 0 6px 0;
  object-fit: cover;
  border-radius: 6px;
}
.newsfeed .taglist{
  overflow: hidden;
  margin-top: 6px;
}
.newsfeed .taglist span:hover{
  cursor: pointer;
  color: rgb(222,222,222);
}
.newsfeed .content .text{
  word-wrap: break-word;
  display: inline-block;
  white-space: pre-line;
  max-width: 42vw;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 30;

}
.newsfeed .content .text div{
  white-space: pre-wrap!important;
}
.comment, .react {
  border-top: 1px solid #585D61;
  padding-left: 6px;
}
.comment .wrap{
  background-color: #232429;
  border-radius: 18px;
  padding: 8px 10px;
}
.react .wrap{
  background-color: #232429;
  border-radius: 18px;
  padding: 5px 10px;
}
.comment li, .commentsubmit, .react li{
  overflow: hidden;
  padding: 6px 4px;
  margin: 4px 0px;
}
.comment .avt, .react .avt{
  border-radius: 100%;
  height: 35px;
  width: 35px;
  float: left;
  object-fit: cover;
  cursor: pointer;
}

.comment .content, .react .content{
  width: 100%;
  padding: 0px 0 0px 50px;
}
.comment .content .name, .react .content .name{
  color: #008B7D;
  margin-right: 6px;
  display: block;
  max-width: 500px;
  height: 25px;
}
.comment .content .username, .react .content .username{
  cursor: pointer;
}
.comment .content .username:hover, .react .content .username:hover{
  cursor: pointer;
  text-decoration: underline;
}
.comment .content a,.react .content a{
  overflow: hidden;
  display: inline-block;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: fit-content;
  max-width: 250px;
}

.comment .content time{
 font-size: 14px;
 color: #585D61;
 margin: 0 6px;
}
.react .content .reaction{
  font-size: 14px;
 color: #fff;
 margin: 0 6px;
}
.react .content .reaction:hover{
  color: #fff;
}
.comment .content time:hover{
  border-bottom:unset;
 }
.commentsubmit form{
  padding: 0px 0 0px 50px;
}
.interaction a{
  display: inline;
  cursor: pointer;
  margin: 0 6px;
  padding: 6px 12px;
}
.interaction{
  display: flex;
  flex-direction: row;
  margin-top: 6px;
  padding: 5px;
  min-height: 40px;
  color: #585D61;
}
.interaction .fa{
  width: 26px;
  color: #008B7D;
}
.interaction a:hover .fa{
  font-size: 24px;
  vertical-align: -4px;
  color: rgb(222,222,222);
}
.interaction .hover a:hover{
  background-color: #008B7D;
  border-radius: 6px;
  color: rgb(222,222,222);
}

.upload .content .text{
  padding: 6px;
  border: none;
  min-height: 55px;
  flex: 0 0 auto;
  width: 42vw;
  margin: 0;
  overflow: hidden;
  white-space: pre-wrap;
  border: 1px solid #585D61;
  border-radius: 6px;
}
.upload .content .text:focus{
  outline: none;
  border: 1px solid #008B7D;
}

.upload .uploadphoto label{
  font-size: 14px;
  color: #585D61;
  cursor: pointer;
  min-height: 24px;
}
.upload .uploadphoto label:hover{
 color: rgb(222,222,222);
}
.previewimage img{
  border: 1px solid #585D61;
  background-position: center center;
  background-repeat: no-repeat;
  height: 100px;
  width: 100px;
}
.previewimage img, .previewimage .fa {
  cursor: pointer;
}
.previewimage .fa:hover{
  color: #008B7D;
}
.addtag .taglabel{
  width: 35px;
  color: #008B7D;
}
.addtag td{
  padding-bottom: 0px;
}
.addtag input{
  border-bottom:  1px solid #585D61;
  margin: 0;
}
::placeholder { 
  color: #585D61;
  font-size: 14px;
}
.addtag input:focus{
  border-bottom: 1px solid #008B7D !important;
}
.addtag .tagitem, .taglist .tagitem{
  background-color: #008B7D;
  border-radius: 4px;
  margin: 2px 2px;
  height: 1.5em;
  padding: 0px 4px;
  color: #232429;
  float: left;
} 
.tagitem .fa{
  margin-left: 6px;
  margin-right: 2px;
  cursor: pointer;
  color: #232429;
}
.tagitem .fa:hover{
  color: rgb(222,222,222);
}

.upload .post{
  text-align: center;
  padding: 4px;
  color: #008B7D;
  cursor: pointer;
  height: 30px;
}
.upload .post:hover{
  border: 1px solid #008B7D;
  border-radius: 6px;
  background-color: #008B7D;
  color: rgb(222,222,222);
}
.right{
  background-color: #232429;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
.right .trendingtag{
  padding: 6px;
  color: #585D61;
}
.taglist .item{
  padding: 6px;
  cursor: pointer;
  display: flex;
  flex-direction: row;
}
.taglist .item .tagtext{
  color: #008B7D;
  text-align: right;
  padding: 0px 12px;
}
.taglist .item .count{
  text-align: left;
  padding: 0px 12px;
}
.taglist .item .tagtext,.taglist .item .count{
  flex:1;
}
.right .followtype{
  display: flex;
  flex-direction: row;
  min-height: 25px;
  margin: 6px auto;
  color: #585D61;
}
.right .item .active{
  color: #008B7D;
}
.followtype .item{
  flex: 1;
  cursor: pointer;
}
.followtype .item:hover{
  color: #008B7D;
  background-color: unset;
}

.right .content{
  flex: 1;
  overflow-y: scroll;
}

.wallet {
  text-align: left;
  padding: 16px;
  font-size: 13px;
}
.wallet th{
  padding: 6px;
  color: rgb(222,222,222);
}
.wallet tr{
  border-bottom: 1px solid #585D61;
}
.wallet .title{
  font-weight: bold;
  color: #008B7D;
}
.wallet .balance{
  margin: 10px 0 60px 0;
}
.wallet .balance .send{
  cursor: pointer;
    color: white;
    background: #008B7D;
    border-radius: 50px;
    padding: 6px 20px;
    margin-right: 20px;
    width: fit-content;
    float: left;
}
.wallet .balance .cancel{
  cursor: pointer;
  color: #585D61;
  border: 1px solid #585D61;
  border-radius: 50px;
  padding: 6px 20px;
  width: fit-content;
  float: left;
  margin-right: 12px;
}
.wallet .balance .send:hover{
  color:#232429;
}
.wallet .balance .cancel:hover{
  border: 1px solid #008B7D;
  color: #008B7D;
}
.wallet input{
  width: 70%;
  background-color: unset;
  border: 1px solid #3D4047;
  border-radius: 50px;
  padding: 0px 1em;
}
.wallet input:focus{
  border: 1px solid #008B7D;
  box-shadow: none!important;
}
